<div id="toolbar">
  <div class="toolbar-item">
    <%= link_to login_path do %>
      <i class="ion-android-open"></i>
    <% end %>
  </div>      
</div> 
<div class="swarmly-landing">
    <div class="swarmly-logo">
        <h1 class="sign">Made with <i class="ion-heart"></i> from Costa Rica</h1>
    </div>
</div>