<%= form_for(current_user.active_saves.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :saved_note_id, @note.id %></div>
  <p class="lead center"><%= f.submit "Save Note", class: "btn btn-primary" %></p>
<% end %>