<%= form_for(current_user.active_saves.find_by(saved_note_id: @note.id), html: { method: :delete }, remote: true) do |f| %>
  <p class="lead" style="text-align:center;"><%= f.submit "Unsave Note", class: "btn btn-primary" %></p>
<% end %>