<% provide(:title, 'Todas las notas') %>
<%= render 'shared/folder_toolbar' %>
<% if @notes.empty? %>
      <%= render 'shared/not_found', name: "notas" %>
    <% else %>
          <div class="page-folder animated fadeinup">
            <div class="container">
              <div class="row">
                <div class="col s12 m8 offset-m2">
                  <%= render @notes %>
                </div>
              </div>
            </div>
          </div>
<% end %>
<%= render 'shared/folder_nav' %>