<% provide(:title, 'Todos los clips') %>
<%= render 'shared/folder_toolbar' %>
<% if @clips.empty? %>
      <%= render 'shared/not_found', name: "clips" %>
    <% else %>
    <div class="page-folder"> 
      <div class="container">
        <div class="row">
          <div class="col s12 m8 offset-m2">
            <%= render @clips %>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= render 'shared/folder_nav' %>