<% provide(:title, 'Todos los clips') %>
<%= render 'shared/folder_toolbar' %>
<% if @clips.empty? %>
          <div class="page fullscreen valign-wrapper accent-color animated fadeinup">
            <div class="container">
              <div class="row">
                <div class="col s12 m8 offset-m2">
                  <div class="valign">
                    <div class="center-align">
                      <h1 class="title big">¯\_(ツ)_/¯</h1>
                    </div>
                    <div class="center-align p-20">
                      <div class="card-panel animated fadein delay-2">
                        <h2>No hay clips todavía!</h2>
                        <span>Sé el primero en crear uno aquí.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
    <% else %>
<div class="page"> 
  <div class="container">
    <div class="row">
      <div class="col s12 m8 offset-m2">
        <%= render @clips %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render 'shared/folder_nav' %>