    <% provide(:title, "Notificaciones") %>
    <%= render 'layouts/navigation' %>
    <%= render 'shared/bottom_nav' %>
    <% if @notifications.blank? %>
    <div class="page notification-page valign-wrapper accent-color animated fadeinup">
      <div class="container">
        <div class="row">
          <div class="col s12 m8 offset-m2">
            <div class="valign">
              <div class="center-align">
                <i class="ion-android-notifications secondary-text" style="font-size:115px"></i>
              </div>
              <div class="center-align p-20">
                <div class="card-panel animated fadein delay-2">
                  <h2>No tienes notificaciones</h2>
                  <span>Te avisaremos cuando te siguen, comentan, crean un clip, nota o Zona Swarmly en tu grupo.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <% else %>
      <div class="page animated fadeinright delay-2">
        <div class="container">
          <div class="row">
            <div class="col s12 m8 offset-m2">
              <ul class="collection notify">
                <li class="collection-item white z-depth-1">
                  <div class="notify-header">
                    <div class="unknow-avatar secondary-color">

                    </div>
                    <div class="notify-author">
                      <span>Notificaciones</span>
                      <span class="regular">Toca la campana para borrar las notificaciones</span>
                      <br>
                    </div>
                  </div>
                </li>
                <% @notifications.each do |notification| %>
                  <%= render partial: "notifications/#{notification.notifiable_type.underscore.pluralize}/#{notification.action}", locals: {notification: notification}, formats: [:html] %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
<% end %>