<div class="hero-material accent-color animated fadeindown">
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="banner-title p-20">
            Matemáticas ·
            <%= render 'categories/follow_form' %>
          </div>
        </div>
      </div>
    </div>            
  </div>