<% if @feed_items.empty? %>
          <div class="page fullscreen valign-wrapper accent-color">
            <div class="container">
              <div class="row">
                <div class="col s12 m6 offset-m3">
                  <div class="valign">
                    <div class="center-align">
                      <h1 class="title big">¯\_(ツ)_/¯</h1>
                    </div>
                    <div class="center-align p-20">
                      <div class="card-panel">
                        <h2>Sigue a otros creadores!</h2>
                        <span>Empieza a seguir otros creadores de contenido para ver sus grupos aquí.</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<% else %>
          <div class="page animated fadeinup">
            <div class="container">
              <div class="row">
                <div class="col s12 m6 offset-m3">
                  <%= render @feed_items %>
                  <div class="m-20" style="text-align:center;">
                    <i class="ion-checkmark-circled" style="font-size:35px;"></i>
                    <p class="regular">Parece que llegaste al final, puedes unirte a tantos grupos como quieras</p>
                    <div class="waves-effect waves-light btn top-20"><%= link_to "Descubrir grupos", groups_path %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<% end %>