<% provide(:title, "Todos los tags") %>
<%= render 'layouts/navigation' %>
<%= render 'shared/bottom_nav' %>
<% if @tags.empty? %>
    <%= render 'shared/not_found', name: "tags" %>
  <% else %>
  <div class="page animated fadeinup">
    <div class="container">
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card fullscreen">
            <p class="explore-card-title">Tags</p>
            <%= render @tags %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>