.no-labels-nav__action {
	padding: 12px 15px;
}

.no-labels-nav__icon {
	display: block;
}
.ac {
	fill: #0facf3;
}
.in {
	fill: #949CA5;
}
.no-labels-nav {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12);
	border-top: 1px solid #e0e0e0;
	background-color: #fff;
	z-index: 1
}

@media only screen and (min-width:767px) {
	.no-labels-nav {
		z-index: 13;
		box-shadow: none;
		position: fixed;
		margin: 1px auto;
		border: 0;
		background: 0 0;
		justify-content: left;
		top: 0;
		align-items: baseline;
		right: inherit;
		bottom: inherit
	}
}