    <% provide(:title, 'Todas las categorías') %>
    <%= render 'layouts/navigation' %>
    <%= render 'shared/bottom_nav' %>
    <div class="page animated fadeinup">
      <div class="container">
        <div class="row">
          <div class="col s12 m8 offset-m2">
            <div class="card fullscreen">
              <p class="explore-card-title">Categorías</p>
              <%=render(partial: "categories/category_item", object: @categories) %>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>