<p>Hola <%= @resource.email %>!</p>

<p>Parece que alguien solicito un enlace de cambio de contraseña. Puedes hacerlo con enlace de abajo.</p>

<p><%= link_to 'Cambiar contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tú, por favor ignora este correo.</p>
<p>Tu contraseña sera la misma hasta que ingreses al enlace y crees uno nuevo.</p>
